:root {
  --swiper-theme-color: rgb(5, 40, 40) !important;
  --swiper-navigation-size: 25px !important;
}
/* Estilo do Swiper */
.swiper-pagination{
  display:flex;
  justify-content:center;
  transition: ease-in 1.75s all;
}

.swiper-pagination-bullet{
  background:rgb(5, 40, 40)}

.swiper-pagination-bullet-active {
  width: 25px;
  transition: 0.4s all;
  border-radius: 16px;}

/* .swiper-button-prev:after{
 content: "" !important;} */
.swiper-button-prev{
/*
  background-image: url("/public/images/seta-swiper-dir.svg") !important; */
  left:4px !important;
}

.swiper-button-next{
right:4px;}
.swiper-pagination-bullet{
background: rgb(5, 40, 40)}
