@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  ms-overflow-style: none;
  scrollbar-width: none;
  color:rgb(5, 40, 40)}
::-webkit-scrollbar {
  display: none;
}
main{
font-family: 'roboto'
}
@font-face {
  font-family: 'roboto';
  src: local('roboto'), url(/src/fonts/roboto/Roboto-Light.ttf) format('truetype');
}
